[Unit]
Description=Mount unit for goland, revision 56
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/goland_56.snap
Where=/snap/goland/56
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
